@using TextConverter.Models
@model Text

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="converter" class=" col-sm-4">
        <h2>Text to convert</h2>

        @using (Html.BeginForm())
        {
            <br />
            @Html.TextAreaFor(m => m.TextToConvert, new { rows = "10", cols = "40" })
            @Html.HiddenFor(m => m.Id)
            <br />
            <button type="button" class="btn btn-primary convert-xml">Convert to XML</button>
            <button type="button" class="btn btn-primary convert-csv">Convert to CSV</button>
        }

    </div>
    <div id="xml-downloader" class="col-sm-4">
        <h2>Xml result</h2>
        <br />
        <textarea id="xml-result" rows="10" cols="40"></textarea>
        <button class="btn btn-primary xml-download">Download xml file...</button>
    </div>
    <div id="csv-downloader" class="col-sm-4">
        <h2>Csv result</h2>
        <br />
        <textarea id="csv-result" rows="10" cols="40"></textarea>
        <button class="btn btn-primary csv-download">Download csv file...</button>
    </div>
</div>