@using TextConverter.Models
@model Text

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="converter" class=" col-sm-4">
        <h2>Text to convert</h2>

        @using (Html.BeginForm())
        {

            <br />
            @Html.TextAreaFor(m => m.TextToConvert, new { rows = "10", cols = "40" })
            @Html.HiddenFor(m => m.Id)
            <br />
            <button type="button" class="btn btn-primary convert-xml">Convert to XML</button>
            <button type="button" class="btn btn-primary convert-csv">Convert to CSV</button>

        }

    </div>
    <div id="xml-downloader" class="col-sm-4">
        <h2>Xml result</h2>
        <br />
        <textarea id="xml-result" rows="10" cols="40"></textarea>
        <button class="btn btn-primary xml-download">Download xml file...</button>
    </div>
    <div id="csv-downloader" class="col-sm-4">
        <h2>Csv result</h2>
        <br />
        <textarea id="csv-result" rows="10" cols="40"></textarea>
        <button class="btn btn-primary csv-download">Download csv file...</button>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {

            // This function converts text into xml or csv using Web API
            // in /api/textconvert.
            function convertText(resultType) {

                var textToConvert = $("#TextToConvert").val();

                var text = {
                    'Id': 1,
                    'TextToConvert': textToConvert,
                    'Sentences': null,
                    'ResultType': resultType
                };

                // Send ajax request with text object and get converted result.
                var requestPost = $.ajax(
                    {
                        url: "/api/textconvert",
                        method: "POST",
                        data: JSON.stringify(text),
                        contentType: "application/json",
                        dataType: "text"
                    });

                // Callback handler that will be called on success
                requestPost.done(function(response, textStatus, jqXHR) {

                    if (resultType === "xml") {
                        $("#xml-result").val(response);
                    } else {
                        $("#csv-result").val(response);
                    }


                });

                // Callback handler that will be called on failure
                requestPost.fail(function (jqXHR, textStatus, errorThrown) {

                    // Log the error to the console
                    console.error(
                        "The following error occurred: " +
                        textStatus,
                        errorThrown
                    );

                });

            }

            // Downloads result file with extension specified in resultType.
            function downloadFile(resultType) {

                if (resultType !== "xml") {
                    resultType = "csv";
                }

                var downloadPath = "/Results/result." + resultType;

                var link = document.createElement("a");
                link.download = "result." + resultType;
                link.href = downloadPath;
                link.click();

            }

            var convertedToXml = false;
            var convertedToCsv = false;

            $("#xml-downloader .xml-download").click(function () {
                if (convertedToXml) {
                    downloadFile("xml");
                }
            });

            $("#csv-downloader .csv-download").click(function () {
                if (convertedToCsv) {
                    downloadFile("csv");
                }
            });

            $("#converter .convert-xml").click(function () {
                convertText("xml");
                convertedToXml = true;
            });
            $("#converter .convert-csv").click(function () {
                convertText("csv");
                convertedToCsv = true;
            });


        });
    </script>

}